// Main font settings
$main-font-family: 'Lato', sans-serif;
$main-font-size: 16px;
$main-font-weight: 300;

// Main font color
$text-color-white: #fff;
$text-color-black: #000;

// Colors
$dark-blue-bcg: #0a2b3f;
$white-bcg: #fff;
$gray-border: #c9cacc;
$red-border: #ed1651;

// Resolutions
$resolutions: (
	phone: 767px,
	tablet-portrait: 768px,
	tablet-landscape: 900px,
	sm-desktop: 1024px
	);