%basic__container {
	width: 100%;
	padding: 2rem 1rem;
}
.flex {
	display: flex;
	flex-direction: row;
}
.flex__center {
	align-items: center;
}
.flex__reverse {
	@include for-tablet-landscape {
		flex-direction: row-reverse;
	}
}
.container {
	width: 100%;
	min-height: 100%;
		@include for-tablet-landscape {
			display: flex;
			flex-direction: row;
		}
}
.container__left {
	@extend %basic__container;
	background-color: $dark-blue-bcg;
		@include for-tablet-landscape {
			padding-top: 4rem;
			padding-left: 4rem;
			padding-right: 1rem;
		}
		@include for-sm-desktop {
			padding-left: 6rem;
			padding-right: 2rem;
		}
		@include for-desktop {
			padding-left: 9.375rem;
			padding-right: 3.625rem;
		}
}
.top__logo {
	margin-bottom: 2rem;
		@include for-tablet-landscape {
			margin-bottom: 4.5rem;
		}
	text-align: center;
		@include for-tablet-landscape {
			text-align: left;
		}
		img {
			width: 75%;
			height: auto;
				@include for-phone-landscape {
					width: 41%;
				}
				@include for-tablet-portrait {
					width: 35%;
				}
				@include for-tablet-landscape {
					width: 75%;
				}
				@include for-desktop {
					width: 61%;
				}
		}
}
.contact__block {
	color: $text-color-white;
	text-align: center;
		@include for-tablet-landscape {
			text-align: left;
		}
}
.contact__block_heading {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: (2.3rem * 0.75);
	font-weight: 300;
		@include for-tablet-landscape {
			font-size: (3rem * 0.75);
		}
}
.contact__block_numbers {
	li {
		&:nth-child(1) {
			margin-bottom: 0.75rem;
		}
	}
}
.contact__block_numbers-link {
	font-size: 2.3rem;
		@include for-tablet-landscape {
			font-size: 3rem;
		}
}
.container__right {
	@extend %basic__container;
	background-color: $white-bcg;
	color: $text-color-black;
		@include for-tablet-landscape {
			padding-top: 7.25rem;
			padding-left: 1rem;
			padding-right: 4rem;
		}
		@include for-sm-desktop {
			padding-left: 2rem;
			padding-right: 6rem;
		}
		@include for-desktop {
			padding-left: 3.125rem;
			padding-right: 13.375rem;
		}
}
.form__block-heading {
	font-size: 1.531rem;
}