html, body {
	height: 100%;
}
html {
	font-family: $main-font-family;
	font-size: $main-font-size;
	font-weight: $main-font-weight;
}
a {
	color: $text-color-white;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 0;
}
input {
	width: 100%;
	padding: 1rem 1rem;
	border: 1px solid $gray-border;
	border-radius: 5px;
	font-size: 1.125rem;
	margin: .5rem 0;
		@include for-tablet-landscape {
			margin: 1rem 0;
			padding: 0.688rem 1rem;
		}
}
input[type="checkbox"] {
	border: 1px solid $gray-border;
	background-color: $white-bcg;
	width: 10%;
	padding: .25rem;
	width: 25px;
	height: 25px;
	margin: .5rem .5rem .5rem 0; 
}
label {
	font-size: .725rem;
		@include for-phone-landscape {
			width: 50%;
			font-size: .825rem;
		}
		@include for-tablet-portrait {
			width: 45%;
			font-size: .925rem;
		}
		@include for-tablet-landscape {
			width: 80%;
		}
}
input[type="submit"] {
	color: $text-color-white;
	font-weight: 700;
	font-size: 1.909rem;
	border: none;
	padding: .312rem;
	background: #ed1651; /* Old browsers */
	background: -moz-linear-gradient(top, #ed1651 0%, #f05a69 50%, #ed1651 50%, #ed1651 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ed1651 0%,#f05a69 50%,#ed1651 50%,#ed1651 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ed1651 0%,#f05a69 50%,#ed1651 50%,#ed1651 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1651', endColorstr='#ed1651',GradientType=0 ); /* IE6-9 */
		@include for-tablet-landscape {
			width: 50%;
		}
}